---
layout: page
---

{{ content }}

<ul id="archive">
{% for project in site.projects %}
<li class="archiveposturl" style="background: transparent">
<div class="project-container">
    {% if project.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ pr.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ project.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ project.title }}</span><br>

        <strong>tl;dr:</strong> {{ project.tldr }}
        <br/>
        <strong>
        {% include project_links.html project=project %}
        </strong>

        {% if project.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ project.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>