---
layout: page
---

{{ content }}

<ul id="archive">
{% for tutorial in site.tutorials %}
<li class="archiveposturl" style="background: transparent">
<div class="tutorial-container">
    {% if tutorial.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ tutorial.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ tutorial.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ tutorial.title }}</span><br>

        <strong>tl;dr:</strong> {{ tutorial.tldr }}
        <br/>
        <strong>
        {% include tutorial_links.html tutorial=tutorial %}
        </strong>

        {% if tutorial.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ tutorial.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>